{% extends "bootstrap/base.html" %}
{% from "bootstrap/utils.html" import flashed_messages %}

{% block title %}{{ config.APP_NAME }}{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
{% endblock %}

{% block styles %}
    <link href="{{bootstrap_find_resource('bootstrap.css', cdn='bootswatch')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{bootstrap_find_resource('css/font-awesome.css', cdn='font-awesome')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    {{nav.top.render(id='top-nav')}}
{%- endblock navbar %}

{% block content -%}
    <div class="container">
        {{ flashed_messages(dismissible=true) }}
        {% block page_content %}{% endblock %}
        {% block tool_box %}{%- endblock tool_box %}
    </div>
{%- endblock content %}

{% block footer %}
    <hr>
    <div class="copyright">Copyright ©2018 xxxxxx</div>
{%- endblock footer %}

{% block scripts %}
    <script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
    <script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
{%- endblock scripts %}
